---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2>International Conference</h2>
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>Domestic Conference</h2>
{% for post in site.talks_ja reversed %}
  {% include archive-single-talk.html %}
{% endfor %}